<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollectionViewAutoScroll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F4978551DC2F4A500E29004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F49786E1DC2F4A600E29004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4978791DC2F4A600E29004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
