<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>languages</key>
	<array>
		<string>简体</string>
		<string>繁体</string>
	</array>
	<key>fontSize</key>
	<array>
		<integer>8</integer>
		<integer>10</integer>
		<integer>15</integer>
		<integer>17</integer>
		<integer>20</integer>
		<string>25</string>
		<string>28</string>
		<string>35</string>
	</array>
	<key>lineSpace</key>
	<dict>
		<key>极密</key>
		<integer>1</integer>
		<key>稍密</key>
		<integer>10</integer>
		<key>合适</key>
		<integer>15</integer>
		<key>稍疏</key>
		<integer>20</integer>
		<key>极疏</key>
		<integer>30</integer>
	</dict>
	<key>fontStyle</key>
	<dict>
		<key>values</key>
		<array>
			<string>nil</string>
			<string>Wawati</string>
			<string>HanziPen</string>
			<string>YuppySC</string>
			<string>STXINWEI</string>
		</array>
		<key>keys</key>
		<array>
			<string>系统默认</string>
			<string>娃娃体</string>
			<string>翩翩体</string>
			<string>雅痞</string>
			<string>新魏</string>
		</array>
		<key>系统默认</key>
		<string>nil</string>
		<key>娃娃体</key>
		<string>Wawati</string>
		<key>翩翩体</key>
		<string>HanziPen</string>
		<key>雅痞</key>
		<string>YuppySC</string>
		<key>新魏</key>
		<string>STXINWEI</string>
	</dict>
	<key>flipStyle</key>
	<array>
		<string>无翻页效果</string>
		<string>仿真翻页</string>
		<string>左右翻页</string>
		<string>左右平移</string>
		<string>上下覆盖</string>
		<string>上下平移</string>
		<string>上下滚屏</string>
		<string>自动翻页</string>
	</array>
</dict>
</plist>
