<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>行距</key>
	<dict>
		<key>极密</key>
		<integer>1</integer>
		<key>稍密</key>
		<integer>10</integer>
		<key>合适</key>
		<integer>15</integer>
		<key>稍疏</key>
		<integer>20</integer>
		<key>极疏</key>
		<integer>30</integer>
	</dict>
	<key>字体</key>
	<dict>
		<key>系统默认</key>
		<string>nil</string>
		<key>汉仪书宋</key>
		<string>HYShuSE18030F.ttf</string>
		<key>汉仪旗黑</key>
		<string>HYQiH18030F45.ttf</string>
		<key>汉仪楷体</key>
		<string>HYKaiT18030F.ttf</string>
	</dict>
	<key>翻页效果</key>
	<dict>
		<key>无翻页效果</key>
		<integer>1</integer>
		<key>仿真翻页</key>
		<integer>2</integer>
		<key>左右翻页</key>
		<integer>3</integer>
		<key>左右平移</key>
		<integer>4</integer>
		<key>上下覆盖</key>
		<integer>5</integer>
		<key>上下平移</key>
		<integer>6</integer>
		<key>上下滚屏</key>
		<integer>7</integer>
		<key>自动翻页</key>
		<integer>8</integer>
	</dict>
</dict>
</plist>
